/* collor: #2196F3 - logo and all hover/focus elements
color: #757575  - цвет основого текста
color: #212121 - цвет вторичного текста
color: #FFFFFF - белый цвет (фон и текст)
color: #F5F4FA - вторичный цвет фона
color: rgba(255, 255, 255, 0.6) - цвет текста в футтере
color: #2F303A - фон футтера
*/

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --primary-icons-color: #afb1b8;
  --cubic-bezier-standard: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Logo header*/

.logo {
  font-family: Raleway, sans-serif;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  transition: color 250ms var(--cubic-bezier-standard);
}

.logo-web {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Container */
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Site navigation */

.main-nav {
  display: flex;
  align-items: center;
}

.navigation-block {
  margin-left: 80px;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link-page {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--cubic-bezier-standard);
}

.link-page.studio {
  color: var(--accent-color);
}

.studio::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* Contacts */

.contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic-bezier-standard);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.icon-env,
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}

.phone-email {
  display: inline-block;
  margin-left: auto;
}

.phone-email .contacts + .contacts {
  margin-left: 30px;
}

.phone-email > .contacts {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
}

.contacts .icon-env {
  vertical-align: middle;
  display: inline-block;
}
.contacts .icon-phone {
  vertical-align: top;
  display: inline-block;
}

/* Hero */
.hero-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-bg.jpg);
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 46px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 646px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Advantages */

.advantages-list {
  display: flex;
}

.advantages-list .item {
  width: 270px;
}

.adv-icons {
  display: block;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.advantages-list .item + .item {
  margin-left: 30px;
}

.advantages-list .title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-list .text {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.71;
}

/* What we do */

.we-do {
  display: flex;
}

.we-do .item-do + .item-do {
  margin-left: 30px;
}

.item-do .img-do {
  display: block;
  border-radius: 4px;
}

.item-do {
  position: relative;
}

.item-do > .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.we-do .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */

.team {
  display: flex;
}

.item-team {
  padding-bottom: 24px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  width: 270px;
}

.team .item-team + .item-team {
  margin-left: 30px;
}

.worker-photo {
  display: block;
  margin-bottom: 30px;
}

.section.our-team {
  background-color: var(--secondary-bg-color);
}

.team .worker {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .profession {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.soc-networks {
  display: flex;
  justify-content: center;
}

.soc-networks .item + .item {
  margin-left: 11px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--soc-icons-color);

  transition: background-color 250ms var(--cubic-bezier-standard),
    color 250ms var(--cubic-bezier-standard);
}

.soc-icons {
  fill: currentColor;
}

.icon-box:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Our clients */

.our-clients {
  display: flex;
  justify-content: center;
}

.our-clients .item + .item {
  margin-left: 30px;
}

.client-logo {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--primary-icons-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--primary-icons-color);
  fill: currentColor;

  transition: border 250ms var(--cubic-bezier-standard),
    color 250ms var(--cubic-bezier-standard);
}

.client-logo:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */
.footer {
  color: var(--primary-white-color);
  background-color: var(--footer-bg-color);
}

.footer > .container {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-address {
  padding-top: 48px;
}

.footer-logo {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  margin: 0;
  padding-bottom: 10px;
  color: var(--primary-white-color);
}

.address-item {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-contacts {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;

  transition: color 250ms var(--cubic-bezier-standard);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.call-action {
  padding-top: 56px;
  padding-bottom: 56px;
  margin-left: 69px;
}

.action-text {
  display: block;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 21px;
}

.action-icons {
  display: inline-block;
}

.footer-icons {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--cubic-bezier-standard);
}

.footer-icons:hover {
  background-color: var(--accent-color);
}

.subscription {
  margin-left: auto;
  padding-top: 56px;
}

.subscription-title {
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.subscription-input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
}

.subscription-button {
  display: inline-flex;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  align-items: center;

  padding: 10px 28px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
}

.subscription-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.developed-by {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 1.71;
  justify-content: center;
}

/* Buttons */
.button {
  display: inline-block;
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);
  text-decoration: none;
  padding: 10px 32px;
  min-width: 200px;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: transparent;
}

.hero-section .button.primary {
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Modal window */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--cubic-bezier-standard);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  width: 528px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.close-icon {
  width: 11px;
  height: 11px;
}

.form-headline {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  letter-spacing: 0.03em;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.form-field > .form-input {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transform: translateY(-50%);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  fill: currentcolor;
}

.form-input:focus ~ .icon-input {
  fill: var(--accent-color);
}

.form-comment {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--accent-color);
  transform: translateY(-42px) translateX(-24px);
  transition: transform 250ms var(--cubic-bezier-standard);
}

.form-input:focus + .form-comment,
.form-input:not(:placeholder-shown) + .form-comment {
  color: var(--accent-color);
  transform: translateY(-38px);
  transition: transform 250ms var(--cubic-bezier-standard);
}

textarea {
  resize: none;
}

.form-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: none;
}

.checkbox-terms {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form .button {
  display: block;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
